
.section-footer *, .top-nav *, .navbar-is-shrink .navbar-brand, .navbar-is-shrink .navbar-text {
	color: #ffffff;
}

.section-footer a:hover, .top-nav a:hover, .navbar-is-shrink .navbar-brand:hover {
	color: #ffffff;
}

.section-footer, .top-nav, .navbar-is-shrink {
	background-color: #444444;
}

.navbar-default .navbar-brand {
    color: #444444;
}

body {
 color: #343536;
} 

a {
  color: #337ab7;
}

a:hover, .news-card .lst_news_item a:hover{
   color: #337ab7;
}

a.views-more-link {
  color: #337ab7!important;
}

h2.page-header {
	color: #343536;
}

.region-navigation-collapsible li.active a, .region-navigation-collapsible li a.is-active {
  border-bottom-color: #337ab7;
}

 .region-navigation-collapsible li a.is-active.has-submenu:hover{
   border-bottom-color: #337ab7;
 }

.menu-base-theme li a:hover,
.menu-base-theme li a:focus,
.menu-base-theme li a:active,
.menu-base-theme li a.highlighted {
   border-bottom-color: #337ab7;
}

.btn-primary {
    background-color: #337ab7!important;
    border-color: #337ab7!important;
}
