
.section-footer *, .top-nav *{
	color: #ffffff;
}

.section-footer a:hover, .top-nav a:hover{
	color: #ffffff;
}
.section-footer, .top-nav{
	background-color: #444444;
}

body {
 color: #343536;
} 

a {
  color: #337ab7;
}

a:hover {

	color: #337ab7;
}