.demo-block{
  text-align: center;
}
.region-content {
    min-height: 350px;
  }

.main-container{
  margin-top: 9em;
}
.main-container-admin{
  margin-top: 5em;
}

/* header */
#navbar {
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .navbar-fixed-top{
    z-index: 10;
  }
#navbar.is-hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.navbar-brand {
  height: auto;
  padding-top: 0.8em ;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Oswald', 'Lucida Sans Unicode','Lucida Grande',sans-serif;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
transition: all 0.5s;
}

a.navbar-brand:hover{
  color: #666!important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
transition: all 0.5s;
}

a.logo{
  width: 5em;
}

.sec-logo{
  display: inline;
  max-width: 6em;
}

.navbar-text {
  width: 10em;
  text-align: initial;
  font-weight: 400;
  color: #666!important;
  font-size: 12pt;
  line-height: 1.1;
  margin: 0.8em 0;
  font-family: 'Oswald', 'Lucida Sans Unicode','Lucida Grande',sans-serif;
}
.navbar-toggle {
  background: #afafaf;
}

.toggle-search{
  padding: 4px 12px;
}
.form-control:focus {
  border-color: #0478d6;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(74, 65, 65, 0.075), 0 0 8px #277dd6;
  box-shadow: inset 0 1px 1px rgba(74, 65, 65, 0.075), 0 0 8px #277dd6;
}

#search-block-form{
    margin-top: 0.5rem;
    float: right;
}

/* header-end */



/*login-form-start*/

.user-login-form,
.user-form,
.user-pass{
  max-width: 650px;
  margin: 40px auto;
  border: 1px solid #ddd;
  padding: 10px 30px;
  background: #FBFBFB;
}

.user-login-form .form-text,
.user-login-form .form-email,
.user-form .form-text,
.user-form .form-email,
.user-pass .form-text{
  width: 100%;
}
/* login form end */





.region-footer-bar-left ul.menu li{
  display: inline-block;
}

.region-footer-bar-left ul.menu li:hover  a{
  background-color: transparent!important;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
.card {
  display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #EDF2F6;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover;
  transition: all .25s ease;
}
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase;
  color: #D30015;
}


/*main navigation dropdown*/

li.dropdown a span.glyphicon, li.dropdown-submenu a span.glyphicon{
 font-size: 0.8rem;
 line-height: inherit;
}
li.dropdown-submenu a span.glyphicon{
  float:right;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  padding: 0px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: right;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: 100%;
  margin-left: 0px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.navbar-nav li:last-child > .dropdown-menu a {
text-align: left;
}

.navbar-nav li:last-child > .dropdown-menu .dropdown-submenu > .dropdown-menu {
left: 100%;
}

.navbar-nav li:last-child > .dropdown-menu .dropdown-submenu > .dropdown-menu a{
  text-align: left;
}

.navbar-nav li:last-child > .dropdown-menu .dropdown-submenu > .dropdown-menu a span.glyphicon{
  float:right;
}

.dropdown-menu > li > a{
  white-space: normal;
}
/*main navigation dropdown end*/


/* main slider section */

.slider-wrapper{
  margin-top: 9em;
}
.slider-wrapper-admin{
  margin-top: 4.5em;
}

@media screen and (max-width: 768px){
  .slider-wrapper{
    margin-top: 8em;
  }
  .slider-wrapper-admin{
    margin-top: 4em;
  }
}

#slick-views-main-slider-block-1-1-slider .slide__content img{
  height: 25em;
}

.slick-arrow{
  position: absolute;
  height: 50px;
  color: transparent;
  width: 50px;
}


.slick-prev::before{
  font-family: "Font Awesome 5 Free";
  color: #ffffff;
  font-size: 3rem;
  top: 0%;
  left: 0;
  content: "\f104";
  font-weight: 900;
}
.slick-next::before{
  font-family: "Font Awesome 5 Free";
  color: #ffffff;
  font-size: 3rem;
  top: 0%;
  left: 0;
  content: "\f105";
  font-weight: 900;
}

#slick-views-main-slider-block-1-1-slider .slide__caption{
  background: #00000096;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 1.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 1.2rem;
  margin: 0;
  position: absolute;
  bottom: 0px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  width: 50%;
  color: #fff;
  margin-bottom: 8px;
  font-family: "Montserrat";
  }

@media screen and (min-width: 767px)
{
  .region-research-highlights #slick-views-research-highlights-block-1-1{
    padding-left: 4em;
    padding-right: 4em;
  }
  .region-slider .slick-arrow {
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .region-slider .slick-arrow:hover{
    background-color: #e3e3ed;
    -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
    transition: all 0.5s;
  }
}
/* main slider section ends */

/* node */

  .sabbi-page-header.page-header-lg {
    min-height: 265px;
    /* width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    left: 50%; */
  }

.field-label{
  width: 130px;
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 700;
}

.field-value {
  margin-left: 130px;
}

@media only screen and (min-width: 640px){
  .field-label{
  width:180px;
  }

  .field-value  {
    margin-left: 180px;
  }
}

.profile-nav{
	padding:0;
  margin: 30px 0 30px 0;
	list-style:none;
	text-align:center;
}

.profile-nav li{
	margin: 0 5px;
	display:inline;
}

.profile-nav li a{
	display:inline-block;
	padding:10px 22px;
	color:#222222;
	border-radius:4px;
	background:#f7f7f7;
	margin-bottom:5px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}


.profile-nav > li.active > a, .profile-nav  > li.active > a:hover, .profile-nav  > li.active > a:focus {
    background-color: #7cc576;
}

.ol-timeline {
    list-style: disc;
    margin-top: 8em;
    padding-left: 6em;
    position: relative;
}

.ol-timeline:before{
  left: 3em;
}


/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.main-section.paddind{
	padding-bottom:60px;
}




/* single event section */
.sabbi-events-item .events-item-meta .events-date{
    display: block;
}

.event-page-header{
  background-color: #b0cad0;
}

.event-page-header .page-title{
  background-color: rgba(10, 77, 125, 0.7);
}

.event-venue-label:before {
    content: "\f3c5";
    font-family: "Font Awesome 5 Free";
    margin: 0 8px 0 0;
  }

.event-date-label:before {
    content: "\f133";
    font-family: "Font Awesome 5 Free";
    margin: 0 8px 0 0;
  }

/* single event section */
/* node-end *


/* main slider section ends */
/* footer section */
.footer1 .nav > li > a:hover, .footer1 .nav > li > a:focus {
  background: transparent;
}
.footer-bottom nav li > a:hover, .footer-bottom nav li > a:focus{
  background: transparent;
}
.footer-bottom nav li > a:active{
  background: transparent;

}
.footer-bottom .contextual-region .contextual .contextual-links li{
  display: inline-block;
}
/* footer section end */


/*--------Back to top----------*/

#back-to-top {
  	display:none;
  	position: fixed;
  	bottom: 20px;
  	right: 20px;
  	width: 50px;
  	height: 50px;
  	line-height: 50px;
  	text-align: center;
  	background: #6195FF;
  	border-radius:3px;
  	color: #FFF;
  	z-index: 9999;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
  	cursor: pointer;
}

#back-to-top:after {
  content: "\f106";
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
}

#back-to-top:hover {
    opacity: 0.8;
}



/* --------Preloader------ */


#preloader {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    z-index: 99999;
}

.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.preloader span {
    display: inline-block;
    background-color: #337ab7;
    width: 25px;
    height: 25px;
    -webkit-animation: 1s preload ease-in-out infinite;
            animation: preload 1s ease-in-out infinite;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    border-radius:50%;
}

.preloader span:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.preloader span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
}

.preloader span:nth-child(3) {
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
}

.preloader span:nth-child(4) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}

@-webkit-keyframes preload {
	0% {
	   -webkit-transform:scale(0);
	           transform:scale(0);
	}
  50% {
    -webkit-transform:scale(1);
            transform:scale(1);
  }
  100% {
    -webkit-transform:scale(0);
            transform:scale(0);
  }
}

@keyframes preload {
	0% {
	   -webkit-transform:scale(0);
	           transform:scale(0);
	}
  50% {
    -webkit-transform:scale(1);
            transform:scale(1);
  }
  100% {
    -webkit-transform:scale(0);
            transform:scale(0);
  }
}





/* media queries */

@media screen and (max-width: 300px){
  .navbar-brand{
    max-width: 10em;
    line-height: 15px;
  }
  .navbar .logo {
    margin-right: -10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  img.sec-logo{
    max-width: 4em;
  }
}




@media screen and (max-width: 600px) {
  .navbar-brand {
    max-width: 10em;
    font-size: 1rem;
    padding: 0.5em;
    line-height: 1.5;
  }

}


@media screen and (max-width:767px){
  .footer-bootom-nav a {
    font-size: 0.75rem;
    }
    .footer-bottom ul.menu li{
      display: inline;
    }

    .title-widget{
      margin-bottom: 10px;
    }

    #main-wrap{
      padding-top: 0px;
    }
    .navbar-text{
      margin: 1em;
      font-size: 10pt;
      width: 8em;
      text-align: initial;
    }
  }

  @media screen and (max-width: 768px){
    .navbar-brand{
      font-size: 14pt;
      padding: 10pt;
      font-weight: normal;
      float:left;
      text-align: left;
      line-height: 1.2;
    }
    a.logo {
      width: 5em;
    }
    .sec-logo {
      display: inline;
      max-width: 4.5em;
    }
    .navbar-brand {
      max-width: 11em;
    }
    .region-content{
        font-size: 13px;
    }

#slick-views-main-slider-block-1-1-slider .slide__caption {
  font-size: 1rem;
  padding: 1em;
}
  }
  @media screen and (max-width: 450px) {
    .navbar-brand {
      max-width: 11em;
      padding: 8pt;
      margin-left: 0px;
      font-size: 0.8rem;
      line-h4em4emeight: 1.3;
    }
    .sec-logo {
      display: inline;
      max-width: 4em;

    }
    a.logo {
      width: 5em;
    }

    img.sec-logo{
      display: inline;
    }
    .region-content{
      font-size: 12px;
    }
    .top-head p {
      font-size: 10pt;
    }
    a.logo2{
      margin-right: 0em;
    }
  }
  @media screen and (max-width: 992px){
    .region-content{
      font-size: 13px;
    }
    .node-field-label{
      font-size: 14px;
    }
    .navbar-text {
      width: 8em;
    }
     .navbar-brand {
      font-size: 1.4rem;
      line-height: 2;
    }
  }



@media screen and (max-width: 1200px){
  .region-content{
    font-size: 14px;
  }
  .node-field-label{
    font-size: 16px;
  }

}

@media screen and (max-width: 1000px){
  .sec-logo {
    max-width: 5em;
  }
  .region-content{
    font-size: 14px;
  }
}

/* media queries end */
